

body {
    color: white;
}


#section0 {
    /* Credit for image: ID 145599490 © Atmosphere1 | Dreamstime.com */
    background-image: url('../images/dreamstime_s_98314926.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#section1 {
    /* Credit for image: ID 145599490 © Atmosphere1 | Dreamstime.com */
    background-image: url('../images/dreamstime_s_145599490.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Squada One', cursive;
}

#section2 {
    /* Credit for image: ID 98314913 © Atmosphere1 | Dreamstime.com */
    background-image: url('../images/dreamstime_s_98314913.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Squada One', cursive;
}

#header, #footer {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
    font-family: 'Squada One', cursive;
}

#name {
    font-size: 36px;
    padding-left: 40px;
}

#title-header {
    background: none;
}

#title-header > h1 {
    font-family: 'Squada One', cursive;
}

#navbarNav {
    font-size: 24px;
}



.navbar-text{
    padding-left: 15px;
}

.navbar-toggler{
    border: none;
    
}

.projectHeaderText {
    font-size: 24px;
}

.projectFooterText{
    font-size: 24px;
}